/* Top Bar  */
.topbar-flexbox {
	position:fixed;
	left:0px;
	right:0px;
	top:0px;

	font-size:18px;

	height:64px;

	margin:auto;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 100;

	overflow: hidden;
}
#theme {
	image-rendering: pixelated;
	width: 64px;
	height: auto;
	position:fixed;
	top: 0px;
	right:0px;
	align-content:top right;
}
#logo {
	image-rendering: pixelated;
	width: 64px;
	height: auto;
	position:fixed;
	top: 0px;
	left:0px;
	align-content:top left;
}